In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('generationdr.csv', header=0,)
df

,Dates,Total,Unnamed: 2,Combine Cycle,Unnamed: 4,Wind Power,Unnamed: 6,Gas Turbines,Unnamed: 8,Steam Turbines,...,Steam Turbines.1,Unnamed: 26,Diesel Engines.1,Unnamed: 28,Hydro.1,Unnamed: 30,Solar.1,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,NaN,MW,%,MW,NaN,MW,%,MW,%,MW,...,GWh,%,GWh,%,GWh,%,GWh,%,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-1-1,2488.33,NaN,175,NaN,-,NaN,775.6,NaN,591.5,...,-,NaN,-,NaN,-,NaN,-,NaN,NaN,NaN
3,2001-1-1,2833.58,NaN,375,NaN,-,NaN,754.5,NaN,645.1,...,2629.56,NaN,3634,NaN,695.74,NaN,-,NaN,NaN,NaN
4,2002-1-1,2928.08,NaN,485,NaN,-,NaN,676.2,NaN,606.2,...,2462.99,NaN,4284,NaN,870.53,NaN,-,NaN,NaN,NaN
5,2003-1-1,3351.54,NaN,804,NaN,-,NaN,676.2,NaN,606.2,...,2296.83,NaN,4290,NaN,1192.81,NaN,-,NaN,NaN,NaN
6,2004-1-1,3252.04,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,1679.22,NaN,3145,NaN,1600.34,NaN,-,NaN,NaN,NaN
7,2005-1-1,3163.94,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,1994.44,NaN,3524,NaN,1908.21,NaN,-,NaN,NaN,NaN
8,2006-1-1,3196.48,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,2307.11,NaN,3711,NaN,1749.74,NaN,-,NaN,NaN,NaN
9,2007-1-1,3196.5,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,2320,NaN,3854,NaN,1701,NaN,-,NaN,NaN,NaN
10,2008-1-1,2948.16,NaN,804,NaN,-,NaN,370.5,NaN,606.2,...,2358.64,NaN,4031.6,NaN,1383.56,NaN,-,NaN,NaN,NaN
11,2009-1-1,2970.53,NaN,804,NaN,-,NaN,350.38,NaN,606.2,...,2488.84,NaN,4023.42,NaN,1464.46,NaN,-,NaN,NaN,NaN
12,2010-1-1,2998.6,NaN,804,NaN,-,NaN,336,NaN,603.5,...,2426,NaN,4020,NaN,1434.6,NaN,-,NaN,NaN,NaN
13,2011-1-1,2996.6,NaN,795.1,NaN,-,NaN,336,NaN,603.1,...,2238.5,NaN,4156.3,NaN,1531,NaN,-,NaN,NaN,NaN
14,2012-1-1,3156.28,NaN,781,NaN,33.3,NaN,336,NaN,489.93,...,2829.04,NaN,4439.21,NaN,1784.45,NaN,-,NaN,NaN,NaN
15,2013-1-1,3695.56,NaN,786.83,NaN,81.1,NaN,480,NaN,603.4,...,2066.12,NaN,4740.22,NaN,1882.64,NaN,-,NaN,NaN,NaN
16,2014-1-1,3755.75,NaN,795,NaN,85,NaN,480,NaN,603.4,...,2213.58,NaN,5726.21,NaN,1323.33,NaN,-,NaN,NaN,NaN
17,2015-1-1,3701.06,NaN,795,NaN,85.5,NaN,480,NaN,603.4,...,2101.19,NaN,6135.58,NaN,934.02,NaN,-,NaN,NaN,NaN
18,2016-1-1,3691.81,NaN,795,NaN,106.2,NaN,480,NaN,545.04,...,2140.64,NaN,6831.24,NaN,1500.33,NaN,23.4,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop(0, inplace=True)
df.drop(1, inplace=True)
df.drop(17, inplace=True)
df.drop(19, inplace=True)

In [4]:
df

,Dates,Total,Unnamed: 2,Combine Cycle,Unnamed: 4,Wind Power,Unnamed: 6,Gas Turbines,Unnamed: 8,Steam Turbines,...,Steam Turbines.1,Unnamed: 26,Diesel Engines.1,Unnamed: 28,Hydro.1,Unnamed: 30,Solar.1,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000-1-1,2488.33,NaN,175,NaN,-,NaN,775.6,NaN,591.5,...,-,NaN,-,NaN,-,NaN,-,NaN,NaN,NaN
3,2001-1-1,2833.58,NaN,375,NaN,-,NaN,754.5,NaN,645.1,...,2629.56,NaN,3634,NaN,695.74,NaN,-,NaN,NaN,NaN
4,2002-1-1,2928.08,NaN,485,NaN,-,NaN,676.2,NaN,606.2,...,2462.99,NaN,4284,NaN,870.53,NaN,-,NaN,NaN,NaN
5,2003-1-1,3351.54,NaN,804,NaN,-,NaN,676.2,NaN,606.2,...,2296.83,NaN,4290,NaN,1192.81,NaN,-,NaN,NaN,NaN
6,2004-1-1,3252.04,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,1679.22,NaN,3145,NaN,1600.34,NaN,-,NaN,NaN,NaN
7,2005-1-1,3163.94,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,1994.44,NaN,3524,NaN,1908.21,NaN,-,NaN,NaN,NaN
8,2006-1-1,3196.48,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,2307.11,NaN,3711,NaN,1749.74,NaN,-,NaN,NaN,NaN
9,2007-1-1,3196.5,NaN,804,NaN,-,NaN,572.7,NaN,606.2,...,2320,NaN,3854,NaN,1701,NaN,-,NaN,NaN,NaN
10,2008-1-1,2948.16,NaN,804,NaN,-,NaN,370.5,NaN,606.2,...,2358.64,NaN,4031.6,NaN,1383.56,NaN,-,NaN,NaN,NaN
11,2009-1-1,2970.53,NaN,804,NaN,-,NaN,350.38,NaN,606.2,...,2488.84,NaN,4023.42,NaN,1464.46,NaN,-,NaN,NaN,NaN
12,2010-1-1,2998.6,NaN,804,NaN,-,NaN,336,NaN,603.5,...,2426,NaN,4020,NaN,1434.6,NaN,-,NaN,NaN,NaN
13,2011-1-1,2996.6,NaN,795.1,NaN,-,NaN,336,NaN,603.1,...,2238.5,NaN,4156.3,NaN,1531,NaN,-,NaN,NaN,NaN
14,2012-1-1,3156.28,NaN,781,NaN,33.3,NaN,336,NaN,489.93,...,2829.04,NaN,4439.21,NaN,1784.45,NaN,-,NaN,NaN,NaN
15,2013-1-1,3695.56,NaN,786.83,NaN,81.1,NaN,480,NaN,603.4,...,2066.12,NaN,4740.22,NaN,1882.64,NaN,-,NaN,NaN,NaN
16,2014-1-1,3755.75,NaN,795,NaN,85,NaN,480,NaN,603.4,...,2213.58,NaN,5726.21,NaN,1323.33,NaN,-,NaN,NaN,NaN
18,2016-1-1,3691.81,NaN,795,NaN,106.2,NaN,480,NaN,545.04,...,2140.64,NaN,6831.24,NaN,1500.33,NaN,23.4,NaN,NaN,NaN

In [5]:
df.drop('Unnamed: 2', axis=1, inplace=True)
df.drop('Unnamed: 4', axis=1, inplace=True)
df.drop('Unnamed: 6', axis=1, inplace=True)
df.drop('Unnamed: 8', axis=1, inplace=True)
df.drop('Unnamed: 10', axis=1, inplace=True)
df.drop('Unnamed: 12', axis=1, inplace=True)
df.drop('Unnamed: 14', axis=1, inplace=True)
df.drop('Unnamed: 16', axis=1, inplace=True)
df.drop('Unnamed: 18', axis=1, inplace=True)
df.drop('Unnamed: 26', axis=1, inplace=True)
df.drop('Unnamed: 28', axis=1, inplace=True)
df.drop('Unnamed: 32', axis=1, inplace=True)
df.drop('Unnamed: 33', axis=1, inplace=True)
df.drop('Unnamed: 34', axis=1, inplace=True)
df.drop('Unnamed: 24', axis=1, inplace=True)
df.drop('Unnamed: 22', axis=1, inplace=True)
df.drop('Unnamed: 30', axis=1, inplace=True)
df.drop('Unnamed: 20', axis=1, inplace=True)

In [6]:
df

,Dates,Total,Combine Cycle,Wind Power,Gas Turbines,Steam Turbines,Diesel Engines,Hydro,Solar,Total.1,Combined Cycle,Wind,Turbine Gas,Steam Turbines.1,Diesel Engines.1,Hydro.1,Solar.1
2,2000-1-1,2488.33,175,-,775.6,591.5,588.21,358.02,-,-,-,-,-,-,-,-,-
3,2001-1-1,2833.58,375,-,754.5,645.1,691.26,367.72,-,9435.17,557.49,-,1918.4,2629.56,3634,695.74,-
4,2002-1-1,2928.08,485,-,676.2,606.2,696.96,463.72,-,10081.45,1607.72,-,856.22,2462.99,4284,870.53,-
5,2003-1-1,3351.54,804,-,676.2,606.2,800.76,464.38,-,10396.23,1430.49,-,1186.09,2296.83,4290,1192.81,-
6,2004-1-1,3252.04,804,-,572.7,606.2,800.76,468.38,-,8867.84,2426.44,-,16.85,1679.22,3145,1600.34,-
7,2005-1-1,3163.94,804,-,572.7,606.2,712.66,468.38,-,9822.97,2379.59,-,16.74,1994.44,3524,1908.21,-
8,2006-1-1,3196.48,804,-,572.7,606.2,744.3,469.28,-,10708.14,2829.97,-,110.31,2307.11,3711,1749.74,-
9,2007-1-1,3196.5,804,-,572.7,606.2,744.3,469.3,-,11088,2820,-,393,2320,3854,1701,-
10,2008-1-1,2948.16,804,-,370.5,606.2,695.16,472.3,-,11646.47,3493.36,-,379.3,2358.64,4031.6,1383.56,-
11,2009-1-1,2970.53,804,-,350.38,606.2,716.22,493.73,-,11529.42,3040.58,-,512.12,2488.84,4023.42,1464.46,-
12,2010-1-1,2998.6,804,-,336,603.5,731.9,523.2,-,12271.7,3112.5,-,1278.6,2426,4020,1434.6,-
13,2011-1-1,2996.6,795.1,-,336,603.1,739.2,523.2,-,12960.5,3511,-,1523.7,2238.5,4156.3,1531,-
14,2012-1-1,3156.28,781,33.3,336,489.93,972.89,543.2,-,13848.45,3299.58,67.9,1428.31,2829.04,4439.21,1784.45,-
15,2013-1-1,3695.56,786.83,81.1,480,603.4,1161,583.2,-,14095.04,2976.53,197,2232.54,2066.12,4740.22,1882.64,-
16,2014-1-1,3755.75,795,85,480,603.4,1204.4,588,-,14341.88,2536,246.9,2295.85,2213.58,5726.21,1323.33,-
18,2016-1-1,3691.81,795,106.2,480,545.04,1153.47,612.1,17.1,15868.14,3654.89,312.6,1428.44,2140.64,6831.24,1500.33,23.4

In [7]:
df_cols = ['Dates', 'TMW', 'CCycleMW', 'WindPMW', 'GasTMW', 'SteamTMW', 'DieselEMW', 'HydroEMW', 'SolarMW', 'TGW', 'CCycleGW', 'WindGW', 'GasTGW', 'SteamTGW', 'DieselEGW', 'HydroGW', 'SolarGW']
df.columns = df_cols

In [8]:
df

,Dates,TMW,CCycleMW,WindPMW,GasTMW,SteamTMW,DieselEMW,HydroEMW,SolarMW,TGW,CCycleGW,WindGW,GasTGW,SteamTGW,DieselEGW,HydroGW,SolarGW
2,2000-1-1,2488.33,175,-,775.6,591.5,588.21,358.02,-,-,-,-,-,-,-,-,-
3,2001-1-1,2833.58,375,-,754.5,645.1,691.26,367.72,-,9435.17,557.49,-,1918.4,2629.56,3634,695.74,-
4,2002-1-1,2928.08,485,-,676.2,606.2,696.96,463.72,-,10081.45,1607.72,-,856.22,2462.99,4284,870.53,-
5,2003-1-1,3351.54,804,-,676.2,606.2,800.76,464.38,-,10396.23,1430.49,-,1186.09,2296.83,4290,1192.81,-
6,2004-1-1,3252.04,804,-,572.7,606.2,800.76,468.38,-,8867.84,2426.44,-,16.85,1679.22,3145,1600.34,-
7,2005-1-1,3163.94,804,-,572.7,606.2,712.66,468.38,-,9822.97,2379.59,-,16.74,1994.44,3524,1908.21,-
8,2006-1-1,3196.48,804,-,572.7,606.2,744.3,469.28,-,10708.14,2829.97,-,110.31,2307.11,3711,1749.74,-
9,2007-1-1,3196.5,804,-,572.7,606.2,744.3,469.3,-,11088,2820,-,393,2320,3854,1701,-
10,2008-1-1,2948.16,804,-,370.5,606.2,695.16,472.3,-,11646.47,3493.36,-,379.3,2358.64,4031.6,1383.56,-
11,2009-1-1,2970.53,804,-,350.38,606.2,716.22,493.73,-,11529.42,3040.58,-,512.12,2488.84,4023.42,1464.46,-
12,2010-1-1,2998.6,804,-,336,603.5,731.9,523.2,-,12271.7,3112.5,-,1278.6,2426,4020,1434.6,-
13,2011-1-1,2996.6,795.1,-,336,603.1,739.2,523.2,-,12960.5,3511,-,1523.7,2238.5,4156.3,1531,-
14,2012-1-1,3156.28,781,33.3,336,489.93,972.89,543.2,-,13848.45,3299.58,67.9,1428.31,2829.04,4439.21,1784.45,-
15,2013-1-1,3695.56,786.83,81.1,480,603.4,1161,583.2,-,14095.04,2976.53,197,2232.54,2066.12,4740.22,1882.64,-
16,2014-1-1,3755.75,795,85,480,603.4,1204.4,588,-,14341.88,2536,246.9,2295.85,2213.58,5726.21,1323.33,-
18,2016-1-1,3691.81,795,106.2,480,545.04,1153.47,612.1,17.1,15868.14,3654.89,312.6,1428.44,2140.64,6831.24,1500.33,23.4

In [9]:
df.dtypes

Dates        object
TMW          object
CCycleMW     object
WindPMW      object
GasTMW       object
SteamTMW     object
DieselEMW    object
HydroEMW     object
SolarMW      object
TGW          object
CCycleGW     object
WindGW       object
GasTGW       object
SteamTGW     object
DieselEGW    object
HydroGW      object
SolarGW      object
dtype: object

In [10]:
df['Dates'] = pd.to_datetime(df['Dates'])

In [11]:
df.dtypes

Dates        datetime64[ns]
TMW                  object
CCycleMW             object
WindPMW              object
GasTMW               object
SteamTMW             object
DieselEMW            object
HydroEMW             object
SolarMW              object
TGW                  object
CCycleGW             object
WindGW               object
GasTGW               object
SteamTGW             object
DieselEGW            object
HydroGW              object
SolarGW              object
dtype: object

In [12]:
df.set_index('Dates', inplace=True)

In [13]:
df.head()

,TMW,CCycleMW,WindPMW,GasTMW,SteamTMW,DieselEMW,HydroEMW,SolarMW,TGW,CCycleGW,WindGW,GasTGW,SteamTGW,DieselEGW,HydroGW,SolarGW
Dates,,,,,,,,,,,,,,,,
2000-01-01,2488.33,175,-,775.6,591.5,588.21,358.02,-,-,-,-,-,-,-,-,-
2001-01-01,2833.58,375,-,754.5,645.1,691.26,367.72,-,9435.17,557.49,-,1918.4,2629.56,3634,695.74,-
2002-01-01,2928.08,485,-,676.2,606.2,696.96,463.72,-,10081.45,1607.72,-,856.22,2462.99,4284,870.53,-
2003-01-01,3351.54,804,-,676.2,606.2,800.76,464.38,-,10396.23,1430.49,-,1186.09,2296.83,4290,1192.81,-
2004-01-01,3252.04,804,-,572.7,606.2,800.76,468.38,-,8867.84,2426.44,-,16.85,1679.22,3145,1600.34,-

In [14]:
df.replace('[-]', '',regex=True, inplace=True)
df.head()

,TMW,CCycleMW,WindPMW,GasTMW,SteamTMW,DieselEMW,HydroEMW,SolarMW,TGW,CCycleGW,WindGW,GasTGW,SteamTGW,DieselEGW,HydroGW,SolarGW
Dates,,,,,,,,,,,,,,,,
2000-01-01,2488.33,175,,775.6,591.5,588.21,358.02,,,,,,,,,
2001-01-01,2833.58,375,,754.5,645.1,691.26,367.72,,9435.17,557.49,,1918.4,2629.56,3634,695.74,
2002-01-01,2928.08,485,,676.2,606.2,696.96,463.72,,10081.45,1607.72,,856.22,2462.99,4284,870.53,
2003-01-01,3351.54,804,,676.2,606.2,800.76,464.38,,10396.23,1430.49,,1186.09,2296.83,4290,1192.81,
2004-01-01,3252.04,804,,572.7,606.2,800.76,468.38,,8867.84,2426.44,,16.85,1679.22,3145,1600.34,

In [15]:
df.replace('', '0.0', inplace=True,)
df.head()

,TMW,CCycleMW,WindPMW,GasTMW,SteamTMW,DieselEMW,HydroEMW,SolarMW,TGW,CCycleGW,WindGW,GasTGW,SteamTGW,DieselEGW,HydroGW,SolarGW
Dates,,,,,,,,,,,,,,,,
2000-01-01,2488.33,175,0.0,775.6,591.5,588.21,358.02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001-01-01,2833.58,375,0.0,754.5,645.1,691.26,367.72,0.0,9435.17,557.49,0.0,1918.4,2629.56,3634,695.74,0.0
2002-01-01,2928.08,485,0.0,676.2,606.2,696.96,463.72,0.0,10081.45,1607.72,0.0,856.22,2462.99,4284,870.53,0.0
2003-01-01,3351.54,804,0.0,676.2,606.2,800.76,464.38,0.0,10396.23,1430.49,0.0,1186.09,2296.83,4290,1192.81,0.0
2004-01-01,3252.04,804,0.0,572.7,606.2,800.76,468.38,0.0,8867.84,2426.44,0.0,16.85,1679.22,3145,1600.34,0.0

In [16]:
df['TMW'] = df.TMW.astype(float)
df['CCycleMW'] = df.CCycleMW.astype(float)
df['GasTMW'] = df.GasTMW.astype(float)
df['SteamTMW'] = df.SteamTMW.astype(float)
df['DieselEMW'] = df.DieselEMW.astype(float)
df['HydroEMW'] = df.HydroEMW.astype(float)
df['WindPMW'] = df.WindPMW.astype(float)
df['SolarMW'] = df.SolarMW.astype(float)
df['TGW'] = df.TGW.astype(float)
df['CCycleGW'] = df.CCycleGW.astype(float)
df['WindGW'] = df.WindGW.astype(float)
df['GasTGW'] = df.GasTGW.astype(float)
df['SteamTGW'] = df.SteamTGW.astype(float)
df['DieselEGW'] = df.DieselEGW.astype(float)
df['HydroGW'] = df.HydroGW.astype(float)
df['SolarGW'] = df.SolarGW.astype(float)